.button {
    border: 1px solid black;
    border-radius: 2px;
    background: #3e999f;
    padding: 5px;
}

.app {
    width: 48%;
    background: #f7f7f7;
    padding: 10px;
    border: 1px solid;
    float: left;
}

.example {
    width: 48%;
    background: #f7f7f7;
    padding: 10px;
    border: 1px solid;
    float: left;
}